# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Entornos
.venv/
venv/
env/

# Variables privadas
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Bases antiguas
*.db
*.sqlite
*.sqlite3